.navbar-light {
    background: #ff5500!important;
}
.btnLogout {
    border: 0px!important;
}
.btnLogout:hover {
    color: white!important;
}

.active {
    color: #ff5500!important;
    
}

.btns {
    border: 0px!important;
}
.btns:hover {
    color: white!important;
}