.marginBottom {
    margin-bottom: 30px;
}

.cardMain {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: black!important;
    color: white;
    text-align: center;
    font-size: 24px;
    border: 2px solid grey!important
}